body {
  background-color: #111;
  color: #9d9d9d; }

.logo-wrapper {
  width: 300px;
  height: 230px;
  margin: auto; }
  .logo-wrapper svg {
    width: 100%;
    height: auto; }

.navbar-inverse {
  background-color: #111;
  border-color: #614A4A; }

.row {
  margin-bottom: 20px; }

.form-field {
  margin-top: 0;
  margin-bottom: 0; }

.form-control {
  background-color: #eee;
  border-radius: 0;
  width: 100%;
  margin: 0 0 20px 0; }

.form-button {
  background-color: #111;
  border: 1px solid #614A4A;
  width: 100px;
  margin-top: 5px;
  left: 0;
  right: 0;
  transition: 200ms; }

.form-button:hover {
  background-color: #614A4A;
  transition: 200ms; }

.container-fluid {
  margin: 100px 100px; }
  .container-fluid .item-list .add {
    color: #9d9d9d;
    display: block;
    background-color: #111;
    border: 1px solid #614A4A;
    padding: 5px;
    transition: 200ms;
    margin-bottom: 20px; }
  .container-fluid .item-list .add:active {
    text-decoration: none; }
  .container-fluid .item-list .add:focus {
    text-decoration: none; }
  .container-fluid .item-list .add:hover {
    text-decoration: none;
    background-color: #614A4A;
    transition: 200ms; }
  .container-fluid .item-list .list-item {
    color: #9d9d9d;
    transition: 200ms; }
    .container-fluid .item-list .list-item .name {
      font-weight: 700; }
  .container-fluid .item-list .list-item:hover {
    text-decoration: none;
    color: #614A4A; }
  .container-fluid .item-list .list-item:active {
    text-decoration: none; }
  .container-fluid .item-list .list-item:focus {
    text-decoration: none; }
  .container-fluid .images .image {
    float: left;
    width: 33.3%; }
    .container-fluid .images .image img {
      width: 100%;
      height: auto; }
  .container-fluid .delete-btn {
    color: #9d9d9d;
    display: block;
    background-color: #111;
    border: 1px solid #614A4A;
    padding: 5px;
    transition: 200ms;
    margin-bottom: 20px; }
  .container-fluid .delete-btn:active {
    text-decoration: none; }
  .container-fluid .delete-btn:focus {
    text-decoration: none; }
  .container-fluid .delete-btn:hover {
    text-decoration: none;
    background-color: #614A4A;
    transition: 200ms; }
  .container-fluid textarea {
    width: 100%;
    height: 200px; }

.member-image img {
  width: 100px; }

.login {
  position: relative;
  width: 300px;
  margin: auto; }

.multiply-container {
  min-height: 90px;
  padding: 0 15px; }

.multiply {
  position: relative;
  height: 50px;
  padding: 6px 0;
  border: 1px solid teal; }

.multiply .reorder-handle {
  top: 6px;
  left: 3px;
  font-size: 17px;
  color: #999; }

.multiply input {
  width: 100%;
  height: 100%; }

.multiply .form-group {
  margin-bottom: 0; }

.multiply .row-buttons button {
  width: 40px;
  height: 40px;
  padding-top: 6px;
  padding-right: 0;
  padding-left: 0;
  border-radius: 20px;
  font-size: 14px; }

.multiply-group {
  position: relative;
  height: 60px;
  border: 1px solid purple; }

.multiply-group .action-icon {
  z-index: 2;
  height: 21px;
  width: 21px;
  background-color: transparent;
  font-size: 17px;
  color: #999;
  text-align: center;
  margin-top: 10px; }

.multiply-group input {
  position: relative;
  z-index: 1;
  border: 0;
  width: 100%;
  background: transparent;
  outline: 0;
  margin-top: 3px;
  margin-left: -65px; }

.hotbox {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  transition: 200ms linear; }

.hotbox.active {
  border: 1px dashed #aaa;
  height: 100px;
  transition: 300ms linear; }

.ungrouped {
  min-height: 50px; }

.locked {
  min-height: 70px; }

.multiply-placeholder {
  width: 100%; }

/*# sourceMappingURL=admin.css.map */
